%br/
.apple_pagination
  = will_paginate items, :container => false
%table.table.table-striped.table-bordered.order-table
  %thead
    %tr
      %th.x-small 編號
      %th.small-mid 商品名稱
  %tbody
    - items.each do |item|
      %tr
        %td.item-id-cell
          = item.id
        %td
          = link_to item.name, admin_item_path(item), target: "_blank"
.apple_pagination
  = will_paginate items, :container => false
%br/