%table.table.table-bordered
  %thead
    %tr.active
      %th.small-mid 樣式名稱
      %th.large-small 現貨數量
      %th.large-small 運送中數量
  %tbody
    - specs.each do |spec|
      %tr
        %td
          = link_to spec.style, "#", rel: "popover", data: { "image-url": "#{spec.style_pic_url}", "placement": "left" }, class: "btn btn-default preview"
        %td
          = spec.stock_item_quantity
        %td
          = spec.shipping_item_quantity