.row
  .col-md-12
    .content-box-large
      .breadcrumb-topbar
        %ol.breadcrumb
          %li
            %a{:href => admin_root_path} 萌萌屋
          %li{:class => "#{"active" if current_page?(edit_admin_taobao_supplier_path)}"}
            編輯淘寶商家
            / = action_name == "edit" ? "編輯淘寶商家" : "新增淘寶商家"
      .panel-heading
        .panel-title
          %h3 編輯淘寶商家
      .panel-body
        = form_for [:admin, @taobao_supplier], html: { class: "form-horizontal" } do |f|
          = render partial: "taobao_supplier_form", locals: { f: f }