.row
  .col-md-12
    .content-box-large
      .breadcrumb-topbar
        %ol.breadcrumb
          %li
            = link_to "萌萌屋", admin_root_path
            / %a{:href => admin_root_path}
          %li{:class => "#{"active" if current_page?(new_admin_taobao_supplier_path)}"}
            新增淘寶商家
            / = action_name == "new" ? "新增淘寶商家" : "編輯淘寶商家"
      .panel-heading
        .panel-title
          %h3 新增淘寶商家
      .panel-body
        = form_for [:admin, @taobao_supplier], html: { class: "form-horizontal" } do |f|
          = render partial: "taobao_supplier_form", locals: { f: f }