.password-reset
  .icon-header.-pencil 重設密碼
  = form_tag password_resets_update_path, method: :put do
    = hidden_field_tag :password_reset_token, @password_reset_token
    .input-block
      .group
        = label :password, '輸入新密碼'
        = password_field_tag :password, '' ,required: true
    .submit-session
      =submit_tag '送出', class: 'btn'
