.modal.fade{"aria-labelledby" => "sent-success-page", :role => "dialog", :tabindex => "-1", id: "sent-success-page"}
  .modal-dialog
    .modal-content.login-modal
      .modal-header 重設密碼
      .modal-body
        .email-sent
        .dialog
          重設密碼的信件已寄出，
          %br>
          麻煩您前往信箱點擊連結並完成密碼重設。
          %br>
          萌萌屋祝您購物愉快！
        .btn.login-btn{"aria-label": "Close", 'data-toggle': "modal", 'data-target': "#sent-success-page"}
          完成
