- @specs.each do |spec|
  %dt 樣式圖片
  %dd= spec_photo(spec, photo_size="150x150")
  %dt 樣式名稱
  %dd= raw(spec.style)
  %dt 樣式狀態
  %dd= spec_status(spec.status)
  %dt 樣式庫存
  %dd= spec.style_amount
  %hr/
