$("#status-#{@item.id}").html('#{link_to_update_item_status(@item)}')
- if @item.all_specs_off_shelf?
  :plain
    $(function(){
      new PNotify({
        title: '已將此商品上架',
        text: '請將下架的樣式也一併上架，不然手機端會當機'
      });
    });
- else
  :plain
    $(function(){
      new PNotify({
        title: '已將此商品上架'
      });
    });