- if @error_message
  :plain
    $(function(){
      new PNotify({
        title: "傳送到歐付寶失敗",
        text: "#{j(@error_message)}",
        width: '500px',
        min_height: '400px'
      });
    });
- elsif @success_message
  :plain
    $(function(){
      new PNotify({title: "#{j(@success_message)}"});
    });