.password_reset
  .mail-img
    = email_image_tag('mailer/img_password.png')
  .text-block
    %p
      親愛的
      %span.emphasize 萌友：
    %p
      您於
      %span.strong #{@user.password_reset_sent_at.strftime('%Y年%m月%d日 %I:%M:%S%P')}
      申請了重設密碼的服務，
      %br
      請點擊以下連結，進入重設密碼頁面。
      %br
      若有任何問題，請聯繫我們客服。
      %br
      萌萌屋期待您的再次光臨！
    %p= link_to "重設密碼", password_resets_edit_url(token: @user.password_reset_token), class: "green-button"