.form-group
  = label_tag "banner[bannerable_id]", "廣告商品", class: "col-sm-2 control-label"
  .col-sm-10
    = select_tag "banner[bannerable_id]", options_for_select(Item.on_shelf.collect { |item| ["#{item.id}：#{item.name}", item.id] }), class: "form-control", include_blank: "請選擇商品"