.form-group
  = label_tag "banner[bannerable_id]", "優惠活動", class: "col-sm-2 control-label"
  .col-sm-10
    = select_tag "banner[bannerable_id]", options_for_select(Campaign.all.collect { |campaign| ["#{campaign.id}：#{campaign.campaign_rule.title}", campaign.id] }), class: "form-control", include_blank: "請選擇優惠活動"