$('.select-type-field').children().remove()
- if @banner_type == Category.name
  $('.select-type-field').append('#{j(render 'select_category')}');
- elsif @banner_type == Item.name
  $('.select-type-field').append('#{j(render 'select_item')}');