.cart{
  .step-bar{
    margin: 0 auto;
    width: 600px;
    text-align: center;
    margin-bottom: 50px;
  }
  .icon-header{
    margin-bottom: 10px;
  }
  .submit-session{
    text-align: center;
    padding-top: 30px;
    > .btn{
      width: 170px;
      height: 54px;
      border-radius: 5px;
      background-color: #47b286;
      font-size: 18.6px;
      color: #ffffff;
    }
    > .btn:focus{
      outline: none;
    }
  }
}