@media screen and (max-width: 768px) {
.cart-confirm{
  .cart-result {
    > .item-bar{
      > .itemname{
        margin-left: 0px;
      }
      > .spec{
        text-align: left;
        padding-left: 0;
        margin: 3px 0px;
      }
      > .price{
        text-align: left;
        padding-left: 0;
      }
    }
  }
}
}