.password-reset{
  width: 450px;
  margin: 0 auto;
  .input-block{
    margin: 10px 0;
  }
}

.success.-reset{
  > .image{
    background-image: image_url('reset.png');
  }
}

@media screen and (max-width: 1200px) {
  .input-block > .group > #password{
      width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .password-reset {
    width: 100%;
    max-width: 400px;
    .input-block {
      width: 95%;
    }
    .submit-session{
      width: 90%;
      margin: 0 auto;
    }
  }
}