.success{
  > .text-align{
    width: 570px;
    margin: 0 auto;
    font-size: 20px;
    color: #000000;
  }
  > .image{
    width: 570px;
    margin: 40px auto;
  }
  .name{
    color: #fca3a3;
  }
}
