.container{
  width: 940px;
  margin: 0 auto;
  background-color: #fffef0;
  .nav-bar {
    background-color: #fca3a3;
    margin-bottom: 40px;
    height: 83px;
    width: 100%;
    .logo-block {
      padding: 15px 0 0 85px;
      width: 150px;
      > .logo {
        display: inline-block;
        margin-right: 10px;
      }
      > .name {
        font-size: 30px;
        display: inline-block;
        color: #fff;
        vertical-align: 8px;
        font-weight: 600;
      }
    }
  }
  .footer{
    margin-top: 80px;
    .up-footer{
      background-color: #f5f4f2;
      text-align: center;
      padding: 15px 0;
      > .head{
        font-size: 20px;
        line-height: 2;
        color: #4a4a4a;
        width: 100px;
        margin: 0 auto;
        padding-left: 20px;
        background-repeat: no-repeat;
        background-position: 5px 12px;
      }
      > p{
        font-size: 16px;
        > .strong{
          color: #3bad7c;
        }
        > .icon{
          margin: 0 10px;
          > img{
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    .down-footer{
      background-color: #757575;
      height: 70px;
      > .logo-block{
        padding: 15px 0 0 85px;
        width: 120px;
        display: inline-block;
        .logo {
          display: inline-block;
          margin-right: 10px;
        }
        .name {
          font-size: 20px;
          display: inline-block;
          color: #fff;
          vertical-align: 11px;
        }
      }
      > .about{
        width: 480px;
        display: inline-block;
        color: #fff;
        font-size: 14px;
        vertical-align: 9px;
        margin: 0 30px;
      }
      > .app-icon{
        display: inline-block;
        margin-left: 30px;
      }
    }
  }
}
