.item-intro {
  background-color: #fff;
  display: -webkit-inline-box;
  .intro-cover{
    width: auto;
    height: auto;
    overflow: hidden;
    display: inline-block;
    > img {
      width: auto;
      height: auto;
    }
  }
  .intro-text {
    width: 30%;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    .text-header {
      width: 143px;
      margin-left: 70px;
      margin-top: 70px;
      > p {
        font-size: 1.5em;
        border-bottom: 1px solid;
        padding-bottom: 2px;
        border-bottom-width: 3px;
      }
    }
    .text-paragraph {
      padding-right: 43px;
      padding-left: 43px;
      > p {
        color: slategrey;
      }
    }
  }
  .link-button {
    width: 110px;
    height: 30px;
    padding-top: 10px;
    margin-left: 85px;
    margin-top: 90px;
    margin-bottom: 50px;
    > a {
      text-decoration: none;
      color: #fff;
      padding-top: 0px;
      margin-top: 0px;
    }
  }
}

.item-area {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: -webkit-inline-box;
  .item-list {
    .item-unit {
      width: 31%;
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
      .item-cover {
        height: 170px;
        overflow: hidden;
        .item-image {
          max-width: 100%;
          height: auto;
          overflow: hidden;
        }
      }
      .item-name {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        > span {
          color: slategrey;
        }
      }
    }
  }
}