.text-block{
  width: 620px;
  height: 250px;
  font-size: 20px;
  line-height: 2;
  color: #4a4a4a;
  margin: 0 auto;
  .strong{
    color: #3bad7c;
  }
  .emphasize{
    color: #FD6A8E;
  }
  .red-oblique{
    color: #DC143C;
    font-weight: 900;
    font-style: oblique;
  }
}
