.app-install-banner.row
  .col-xs-2.xs-padding
    #cancelBanner.cancel
      %button.close{"aria-label" => "Close", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
  .col-xs-2.xs-padding
    .logo
      = image_tag('icons/app-logo.png')
  .col-xs-5.xs-padding
    .group
      .header
        萌萌屋
      .text
        前往google play 商店下載
  .col-xs-2.xs-padding
    .regular-btn
      = link_to "https://play.google.com/store/apps/details?id=com.kosbrother.mongmongwoo&hl=zh_TW" do
        安裝