%footer.footer
  .container
    .nav.navbar-nav.navbar-left
      %li.nav-list
        = link_to "#" do
          .list
            關於萌萌屋
      %li.divider
      %li.nav-list
        = link_to "#" do
          .list
            客服中心
      %li.divider
      %li.nav-list
        = link_to "#" do
          .list
            常見問答
      %li.divider
      %li.nav-list
        = link_to "#" do
          .list
            意見回饋