%footer.footer
  .container
    .section
      聯繫客服：
      %br>
      %li.list.icon
        = link_to "http://line.me/ti/p/%40kya5456n" do
          = image_tag('icons/line.png')
      %li.list.icon
        = link_to  "https://www.facebook.com/kingofgametw/" do
          = image_tag('icons/fb.png')
    .divider
    .section
      %li.list
        關於萌萌屋:
      .about
        萌萌屋走在青年流行的前線, 為年輕人們提供一個快樂購物的管道, 想知道最近流行些什麼, 有什麼可愛的東東, 來萌萌屋就對了!