.user-panel
  =image_tag( fb_picture, class: 'profilePic')
  .name
    = current_user.user_name
  .email
    = current_user.email
  .divider
  .selectList{ class: current_active_class(type, '/orders') }
    = link_to '我的訂單', orders_path
  .selectList{ class: current_active_class(type, '/favorite_items') }
    = link_to '我的收藏', favorite_items_path
