.modal.fade{"aria-labelledby" => "myModalLabel", :id => "resultModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        - if result
          訂單變更成功！
        - else
          訂單變更失敗！
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
