$('#order-#{@order.id}').replaceWith('#{j(render :partial => "update", locals: { order: @order })}');
$('#updateResult').html('#{j(render :partial => 'result', locals: {result: @result})}');
$('#resultModal').modal('show');
