$("#{j(@order_id)} > .btn-primary").addClass('btn-default btn-xs').removeClass('btn-primary btn-lg')
$("#{j(@element_id)}").addClass('btn-primary btn-lg').removeClass('btn-xs btn-default')
$(function(){
new PNotify({title: "#{j(@message)}"});
});
