.form-group
  = f.label :style, "樣式名稱", class: "col-sm-2 control-label"
  .col-sm-5
    = f.text_field :style, class: "form-control", placeholder: "請輸入名稱"
.form-group
  = f.label :style_pic, "樣式圖片", class: "col-sm-2 control-label"
  .col-sm-5
    = f.file_field :style_pic, multiple: true, name: "item_spec[style_pic]"