%h3 新增樣式
= form_for [:admin, @item, ItemSpec.new], html: { class: "form-horizontal well" } do |f|
  = render "form", f: f
  .form-group
    .col-sm-offset-2.col-sm-10
      = link_to "顯示所有新增樣式", admin_item_path(@item), class: "btn btn-warning"