%table.table.table-bordered
  %thead
    %tr
      %th.small 編號
      %th.large-small 名稱
      %th.small 操作
  %tbody
    - tags.each do |tag|
      %tr
        %td= tag.id
        %td= link_to tag.name, "#"
        %td
          =link_to '編輯', "#", class: 'btn btn-default'
          =link_to '刪除', "#", class: 'btn btn-warning', method: :delete