.modal.fade{"aria-labelledby" => "login-page", :role => "dialog", :tabindex => "-1", id: "forget-page"}
  .modal-dialog
    #reset-form.modal-content.login-modal
      .modal-header 重設密碼
      .modal-body
        請輸入您的註冊信箱
        .error-message
        = form_tag forget_path, remote: true do
          .login-input
            .email
            = text_field_tag :email, '', placeholder: '請輸入email'
          = submit_tag '送出', class: 'btn login-btn'
    #sent-success.hidden.modal-content.login-modal
      .modal-header 重設密碼
      .modal-body
        .email-sent
        .dialog
          重設密碼的信件已寄出，
          %br>
          麻煩您前往信箱點擊連結並完成密碼重設。
          %br>
          萌萌屋祝您購物愉快！
        .btn.login-btn{"aria-label": "Close", 'data-toggle': "modal", 'data-target': "#forget-page"}
          完成