%table.table.table-bordered
  %thead
    %tr
      %th.large-small 商品資訊
      %th 淘寶網站
      %th 樣式名稱
      %th 樣式狀態
      %th 現貨數量
      %th 運送中數量
      %th 建議庫存量
      %th 操作
  %tbody
    - stocks.each do |stock|
      = render "stock_spec", stock: stock