.content-box-large
  .breadcrumb-topbar
    %ol.breadcrumb
      %li
        = link_to "萌萌屋", admin_root_path
      %li
        = link_to "淘寶商家列表", admin_stocks_path
      %li.active 未登記淘寶商家的庫存商品
  .panel-body
    %h2 未登記淘寶商家的庫存商品
    = render partial: "stock_table", locals: { stocks: @anoymous_supplier_stocks }