.content-box-large
  .info-title.clearfix
    %p.lead.pull-left 編輯商品樣式庫存
    %p.pull-right.inline-display
      = link_to "商品頁面", admin_item_path(@stock), class: "btn btn-default"
      = link_to "庫存列表", admin_stocks_path(taobao_supplier_id: @stock.taobao_supplier_id, anchor: "stock-id-#{@stock.id}"), class: "btn btn-default"
  %table.table.table-bordered
    %thead
      %tr
        %th.small-mid 商品資訊
        %th 淘寶網站
        %th 樣式名稱
        %th 樣式狀態
        %th 現貨數量
        %th 運送中數量
        %th 建議庫存量
    %tbody
      = render "stock_spec", stock: @stock