.content-box-large
  .breadcrumb-topbar
    %ol.breadcrumb
      %li
        = link_to "萌萌屋", admin_root_path
      %li.active 選擇淘寶商家
  .panel-body
    %table.table.table-bordered
      %thead
        %tr.active
          %th 淘寶商家名稱
          %th 已有庫存的商品編號
      %tbody
        - @taobao_suppliers.each do |taobao|
          %tr
            %td
              = link_to taobao.name, stock_lists_admin_stocks_path(taobao)
            %td
              = taobao.items.item_id_in_stock