.footer{
  height: 50px;
  background-color: $footer-background-color;
  .nav-list {
    position: relative;
    top: -8px;
  }
  .divider{
    height: 30px;
    border: $footer-divider;
    position: relative;
    top: 10px;
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .footer{
    .nav-list {
      margin: 0 5px;
      position: relative;
      top: -8px;
      width: 20%;
      display: inline-block;
      > a {
        margin: 0 0;
        padding: 10px 0;
        font-size: $mobile-font-size;
      }
    }
    .divider{
      top: 3px;
    }
  }
}