.footer{
  height: 50px;
  background-color: $footer-background-color;
  .nav-list {
    position: relative;
    top: -8px;
  }
  .divider{
    height: 30px;
    border: $footer-divider;
    position: relative;
    top: 10px;
  }
}