.footer{
  margin-top: 120px;
  background-color: $footer-background-color;
  text-align: center;
  .section{
    vertical-align: middle;
    height: 100px;
    position: relative;
    top: 1px;
    margin: 20px 5px 0 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    > p, a{
      font-size: 14px;
      color: #fff;
    }
    > p{
      margin-top: 10px;
    }
  }
  .about{
    width: 45%;
    text-align: left;
  }
  .info, .contact{
    width: 13%;
  }
  .contact > p > .icon{
    margin: 0 5px;
    > img{
      width: 25px;
      height: 25px;
    }
  }
  .divider{
    height: 85px;
    vertical-align: -30px;
    border: dashed 1px #ffffff;
    display: inline-block;
    position: relative;
    top: 8px;
  }
}

@media screen and (max-width: 768px){
  .footer{
    .section{
      font-size: $mobile-regular-font-size;
      vertical-align: top;
      height: 50px;
      margin-top: 5px;
      > p, a{
        font-size: 10px;
      }
      > p{
        margin-top: 5px;
      }
    }
    .about{
      width: 48%;
      text-align: left;
    }
    .info, .contact{
      width: 18%;
    }
    .contact > p > .icon{
      margin: 0px;
      > img{
        width: 20px;
        height: 20px;
      }
    }
  }
}