.nav-bar{
  background-color: #fca3a3;
  margin-bottom: 40px;
    .navbar-header{
      margin: 10px 15px;
    > .logo-block{
      padding: 0 15px;
      margin-left: 0;
      padding-top: 3px;
      > .logo{
        display: inline-block;
      }
      > .name{
        display: inline-block;
        font-size: 1.777777em;
        color: #ffffff;
        vertical-align: middle;
        font-weight: bolder;
      }
    }
  }
}

.nav-list{
  > a {
    margin: 10px;
    > .icon{
      display: inline-block;
    }
    > .list{
      display: inline-block;
      color: #ffffff;
    }
  }
}
