.nav-bar{
  background-color: $nav-background-color;
  margin-bottom: 40px;
  border-radius: 0;
    .navbar-header{
      margin: 3px 0;
      .icon-bar{
        background-color: $navbar-toggle-color;
      }
    > .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: $nav-background-color;
    }
    > .logo-block{
      padding: 0 15px;
      margin-left: 0;
      padding-top: 3px;
      font-size: $logo-font-size;
      margin-top: 4px;
      > .logo{
        display: inline-block;
      }
      > .name{
        display: inline-block;
        color: $nav-font-color;
        vertical-align: middle;
        font-weight: $nav-font-weight;
      }
    }
  }
  .modal{
    > .modal-dialog{
      > .modal-content{
        width: 430px;
        margin: 0 auto;
        > .modal-header{
          height: 56px;
          border-radius: 4px;
          background-color: #ff8080;
          text-align: center;
          color: #fff;
          font-size: 20px;
        }
        > .modal-body{
          .submit-session > .btn{
            margin: 10px;
          }
          > .divider{
            text-align: center;
            height: 30px;
            margin: 15px 0;
            background-image: $url-line;
            background-position: center;
            background-repeat: no-repeat;
            .text{
              background: #fff;
              display: inline-block;
              padding: 0 15px;
              position: relative;
              top: 5px;
            }
          }
          > .email-sent{
            width: 265px;
            height: 130px;
            margin:10px auto;
            background-image: $url-web-mail-sent-icon;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
#nav-bar-collapse {
  .nav-list {
    text-align: left;
    margin-top: 8px;
    > .user{
      display: inline-block;
      color: #ffffff;
      cursor: pointer;
      padding: 0 15px;
      margin: 15px 10px;
    }
    > .user:before {
      content: $url-user;
      vertical-align: -4px;
      padding-right: 5px;
    }
    > a {
      padding: 0;
      margin: 15px 10px;
      > .list {
        display: inline-block;
        color: #ffffff;
        height: 25px;
        line-height: 25px;
      }
      > .cart{
        > .counter{
          width: 15px;
          height: 15px;
          font-size: 10px;
          text-align: center;
          line-height: 15px;
          background-color: $price-font-color;
          position: absolute;
          top: -7px;
          left: 12px;
        }
      }
      > .cart:before {
        content: $url-cart;
        vertical-align: -4px;
        padding-right: 5px;
      }
      > .notify:before{
        content: image_url('icons/ic_notification.png');
        vertical-align: -4px;
        padding-right: 5px;
      }
    }
    > .dropdown{
      padding: 0;
      margin: 15px 5px;
      cursor: pointer;
      > .list {
        display: inline-block;
        color: #ffffff;
      }
      > .diamond:before {
        content: $url-white-diamond;
        vertical-align: -4px;
      }
      > .user:before {
        content: $url-user;
        vertical-align: -4px;
        padding-right: 5px;
      }
    }
  }
  .dropdown {
    text-align: left;
    > .dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:visited, .dropdown-toggle:focus, .dropdown-toggle:active {
      color: #fff;
      background-color: $nav-background-color;
      .caret {
        color: #fff;
      }
    }
    > .dropdown-menu {
      > .list {
        text-align: left;
        height:40px;
        background-color: #ffffff;
        > .link {
          color: black;
          padding-left: 44px;
          display: block;
          background-color: transparent;
          height: 35px;
          line-height: 35px;
        }
      }
      > .list:hover {
        background-color: #fca3a3;
        > .link{
          color: #ffffff;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .nav-bar{
    margin-bottom: 15px;
    .navbar-header{
      #nav-drop{
        border: none;
        margin-right: -10px;
        margin-top: 6px;
        margin-bottom: 0px;
        > .nav-drop-icon:before{
          content: image_url('icons/ic_nav.png');
        }
      }
      .logo-block{
        padding: 3px 0;
        font-size: 24px;
        height: 40px;
        margin-top: 7px;
        > .logo{
          width: 35px;
          height: 35px;
        }
      }
      > .notify-block{
        float: right;
        width: 30px;
        height: 30px;
        margin-top: 19px;
        margin-left: 5px;
        text-align: center;
        .notify:before{
          content: image_url('icons/ic_notification.png');
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
    .modal{
      > .modal-dialog {
        width: 90%;
        > .modal-content {
          width: 90%;
          > .modal-body{
            > .dialog{
              font-size: 12px;
            }
            > .email-sent{
              width: 160px;
              height: 80px;
              margin:10px auto;
              background-image: $url-mobile-mail-sent-icon;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
    #nav-bar-collapse .nav-list {
      font-size: 14px;
      > #user > .dropdown-menu {
        margin: 0 -25px;
      }
      > .user {
        margin: 0 10px;
      }
      > .dropdown{
        margin-left: 12px;
      }
      > .dropdown > .dropdown-menu.parent-categories {
        margin: 0 -25px;
        padding-left: 45px;
        background-color: $nav-dropdown-background-color;
        > .list {
          margin-top: 10px;
          height: auto;
          > .dropdown {
            > .list {
              color: black;
              background-color: $nav-dropdown-background-color;
              > .caret {
                color: black;
              }
            }
            > .dropdown-menu.sub-categories {
              margin: 0;
              padding-left: 15px;
              background-color: $nav-dropdown-background-color;
              > a > .list{
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
