.nav-bar{
  background-color: $nav-background-color;
  margin-bottom: 40px;
    .navbar-header{
      margin: 10px 15px;
    > .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: $web-background-color;
    }
    > .logo-block{
      padding: 0 15px;
      margin-left: 0;
      padding-top: 3px;
      > .logo{
        display: inline-block;
      }
      > .name{
        display: inline-block;
        font-size: $nav-font-size;
        color: $nav-font-color;
        vertical-align: middle;
        font-weight: $nav-font-weight;
      }
    }
  }
}

.nav-list{
  text-align: center;
  > a {
    margin: 10px;
    > .icon{
      display: inline-block;
    }
    > .list{
      display: inline-block;
      color: #ffffff;
    }
  }
}

#nav-bar-collapse{
  .dropdown{
    text-align: center;
    > .dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:visited, .dropdown-toggle:focus,  .dropdown-toggle:active{
      color: #fff;
      background-color: $nav-background-color;
      .caret{
        color: #fff;
      }
    }
    >.dropdown-menu{
      > .list{
        text-align: center;
        > .link{
          color: black;
          background-color: #fff;
        }
      }
    }
  }
}