.app-banner{
  background-image: $url-side-app;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  border: $regular-border;
  border-radius: $regular-border-radius;
  padding-top: 40px;
  padding-left: 18px;
  padding-right: 18px;
  > .logo{
    margin: 0 auto;
    width: 100px;
  }
  > .text{
    margin: 10px 0;
    text-align: center;
  }
  > .image{
    margin: 10px auto;
    width: 250px;
  }
}