.app-install-banner{
  height: 60px;
  background-color: #fff;
  padding-left: 10px;
  .cancel{
    margin: 20px auto;
    width: 20px;
    > img{
      width: 100%;
    }
  }
  .cancel:hover{
    cursor: pointer;
  }
  .logo{
    position: relative;
    margin: 5px auto;
    width: 50px;
  }
  .group{
    margin-top: 10px;
    .header{
      font-size: 12px;
      font-weight: bolder;
    }
    .text{
      font-size: 10px;
    }
  }
  .regular-btn{
    width: 50px;
    height: 25px;
    margin: 17px auto;
  }
}