.campaign-rule-show{
  background-color: #edecdf;
  margin: 20px auto;
  > .banner{
    width: 100%;
  }
  > .inner{
    padding : 30px;
    margin: 0;
    > .product-block{
      margin-bottom: 20px;
      > .product-list{
        background-color: #ffffff;
        .image{
          position: relative;
          .discount-icon{
            position: absolute;
            width: 100%;
            height: 90px;
            background-repeat: no-repeat;
            background-position: right top;
            background-size: contain;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .campaign-rule-show{
    > .inner{
      padding: 10px 0;
      > .product-block{
        margin-bottom: 10px;
        > .product-list{
          padding: 0;
          .image{
            .discount-icon{
              background-size: 50px;
            }
          }
        }
      }
    }
  }
}