.campaign-rule-show{
  background-color: #edecdf;
  margin: 20px auto;
  > .banner{
    width: 100%;
  }
  > .inner{
    padding : 30px;
    margin: 0;
    > .product-block{
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 768px){
  .campaign-rule-show{
    > .inner{
      padding: 10px 0;
      > .product-block{
        margin-bottom: 10px;
      }
    }
  }
}