.cart-result{
  background-color: $form-background-color;
  border: $form-border;
  text-align: center;
  padding: 0 20px;
  font-size:16px;
  > .row{
    margin:  15px 0;
    > div{
      padding: 0;
    }
  }
  > .divider{
    width: 100%;
    border-top: $form-border;
  }
  > .header{
    height: 60px;
    > div {
      line-height: 60px;
    }
  }
  > .item-bar{
    > div{
      height: 66px;
      line-height: 66px;
    }
    > .icon{
      img{
        width: 66px;
        height: 66px;
        border: solid 1px #979797;
        vertical-align: top;
      }
    }
    .quantity-box{
      line-height: 0;
      .quantity, .quantity-minus, .quantity-plus{
        height: 25px;
        width: 25px;
        position: relative;
        top: 21px;
        line-height: 22px;
        text-align: center;
      }
      .quantity-minus{
        left: 3px;
      }
      .quantity{
        left: -2px;
      }
      .quantity-plus{
        left: -6px;
      }
    }
    > .cancel-block{
      .cancel{
        cursor: pointer;
        display: inline-block;
        border: none;
        background-color: transparent;
        background-image: image_url('icons/ic_cancel.png');
        background-position: center;
        background-size: contain;
        width: 25px;
        height: 25px;
        position: relative;
        top: 5px;
      }
      .cancel:focus{
        outline: none;
      }
    }
  }
  > .totalrow{
    .text > div, .number > div{
      height: 42px;
      line-height: 42px;
    }
    #spend-shopping-point{
      height: 25px;
      color: #ff8080;
      cursor: pointer;
      text-align: center;
    }
    #spend-shopping-point:before{
      content: image_url('input_element/uncheck.png');
      vertical-align: sub;
    }
    #spend-shopping-point.checked:before{
      content: image_url('input_element/check.png');
    }
    #totalprice{
      color: $price-font-color;
    }
    #select-ship-type{
      border-radius: 0;
      border: $order-box-quantity-border;
      background-color: transparent;
      color: $order-box-quantity-font-color;
      position: relative;
      left: -15px;
    }
  }
  .modal{
    > .modal-dialog{
      > .modal-content{
        > .modal-body{
          text-align: left;
          font-size: 24px;
        }
        .btn-confirm{
          width: 150px;
          height: 50px;
          font-size: 20px;
          background-color: $modal-confirm-btn-color;
          color: #fff;
          line-height: 37px;
        }
        .btn-close{
          width: 150px;
          height: 50px;
          border: $modal-btn-border;
          font-size: 20px;
          color: $modal-confirm-btn-color;
          background-color: transparent;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .cart-result {
    > .item-bar {
      > div{
        height: 18px;
        line-height: 18px;
      }
      > .cancel-block {
        text-align: right;
        padding: 0px;
        > .cancel{
          width: 16px;
          height: 16px;
          top: 22px;
          padding: 0px;
        }
        > .modal{
          > .modal-dialog{
            > .modal-content{
              > .modal-body{
                font-size: 18px;
              }
              .btn-confirm{
                width: 45%;
                font-size: 14px;
              }
              .btn-close{
                width: 45%;
                font-size: 14px;
              }
            }
          }
        }
      }
      .icon{
        height: 60px;
        > img {
          width: 60px;
          height: 60px;
        }
      }
      > .itemname, > .unitprice, > .select, .spec, .price, .quantity{
        text-align: left;
      }
      > .select{
        margin: 5px 0;
      }
      > .quantity> div:before{
        content: "數量：";
      }
      > .subtotal{
        text-align: right;
        padding-right:5px;
      }
      > .subtotal:before{
        content: '小計：'
      }
      > .quantity-box {
        .quantity, .quantity-minus, .quantity-plus {
          height: 25px;
          width: 25px;
          font-size: 14px;
          line-height: 22px;
          top: -7px;
        }
      }
    }
    .totalrow {
      > .text{
        text-align: center;
      }
      > .number {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .cart-result{
    padding: 0 5px;
    font-size:12px;
    > .item-bar{
      > .spec{
        margin: 3px 0px;
      }
      > .quantity-box {
        padding-right: 15px;
        text-align: right;
        .quantity, .quantity-minus, .quantity-plus {
          height: 15px;
          width: 15px;
          font-size: 10px;
          line-height: 12px;
          top: 2px;
        }
      }
      > .quantity > div{
        text-align: center;
      }
      > .subtotal{
        text-align: center;
      }
    }
    .totalrow {
      .text > div, .number > div{
        height: 18px;
        line-height: 18px;
      }
      #spend-shopping-point{
        height: 20px;
        line-height: 20px;
      }
      #spend-shopping-point:before{
        content: image_url('input_element/uncheck_mobile.png');
      }
      #spend-shopping-point.checked:before{
        content: image_url('input_element/check_mobile.png');
      }
    }
  }
}