.favorite-list{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dcdcdc;
  padding-bottom: 15px;
  font-size: 16px;
  color: #262626;
  .header{
    height: 50px;
    text-align: center;
    > div{
      line-height: 50px;
    }
  }
  .divider{
    width: 97%;
    border-top: solid 1px #dcdcdc;
    margin: 5px auto;
  }
  .body {
    > .row {
      > div {
        text-align: center;
        height: 70px;
        line-height: 70px;
        > .cover{
          width: 56px;
          height: 56px;
          border: solid 1px #979797;
        }
        > .glyphicon {
          cursor: pointer;
          color:  #fd6879;
        }
        > .modal{
          > .modal-dialog{
            margin:0 auto;
            border-radius: 6px;
            background-color: #ffffff;
            width: 570px;
            height: 200px;
            > .modal-content{
              padding: 30px;
              width: 570px;
              height: 260px;
              border: none;
              > .modal-body{
                height: 120px;
                font-size: 24px;
                font-weight: 500;
                color: #000000;
                line-height: 30px;
              }
              .modal-footer{
                border-top: none;
                .btn-confirm, .btn-close{
                  line-height: 35px;
                  width: 150px;
                  height: 50px;
                  border: $modal-btn-border;
                  font-size: 20px;
                  color: $modal-confirm-btn-color;
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
      > .name{
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
      }
      > .status{
        > .block{
          margin: 20px auto;
          width: 82px;
          height: 28px;
          border-radius: 3px;
          background-color: #47b286;
          line-height: 28px;
          color: #fff;
        }
        > .-off-shelf{
          background-color: #b5b5b5;
        }
      }
    }
  }
}

.-wish-lists {
  .row {
    margin: 0;
  }
  .body > .row{
    .spec {
      text-align: center;
    }
    .notify:before{
      cursor: pointer;
      content: image_url('icons/ic_bell.png');
      vertical-align: -webkit-baseline-middle;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px){
  .favorite-list{
    .body {
      > .row{
        > .name{
          line-height: 20px;
          padding-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .favorite-list{
    .body {
      > .row{
        font-size: 12px;
        margin-top: 15px;
        > .image{
          padding-right: 10px;
        }
        > .name, .price, .status {
          text-align: left;
          line-height: 20px;
          height: 20px;
          margin-top: 5px;
        }
        > .heart{
          text-align: right;
          line-height: 20px;
          height: 20px;
          font-size: 16px;
          margin-top: 5px;
        }
        > .status{
          > .block{
            margin: 0;
            width: 58px;
            height: 20px;
            line-height: 20px;
            text-align: center;
          }
        }
        div > .modal{
          > .modal-dialog{
            width: 280px;
            height: 100px;
            > .modal-content{
              padding: 20px;
              width: 280px;
              height: 128px;
              > .modal-body{
                padding: 0;
                height: 50px;
                font-size: 12px;
                font-weight: normal;
                line-height: 20px;
              }
              .modal-footer{
                .btn-confirm, .btn-close{
                  line-height: 12px;
                  width: 74px;
                  height: 25px;
                  border-radius: 2.5px;
                  border: $modal-btn-border;
                  font-size: 12px;
                  border: solid 1px #47b286;
                }
              }
            }
          }
        }
      }
    }
  }

  .-wish-lists {
    .body > .row{
      .image{
        text-align: center;
        height: 70px;
        line-height: 70px;
      }
      > div{
        line-height: 27px;
        height: 25px;
        text-align: left;
      }
      .spec {
        text-align: left;
      }
      .price{
        margin-top: 0;
      }
      .stock{
        line-height: 20px;
        height: 20px;
      }
      .notify:before{
        float: right;
        position: relative;
        top: -10px;
      }
    }
  }
}