.float-box{
  position: fixed;
  z-index: 6;
  bottom: 2px;
  right: 2px;
  > .counter{
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    background-color: red;
    position: absolute;
    top: 18px;
    color: #fff;
    left: 50px;
  }
}