.icon-header{
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  font-size: 20px;
  color: #000;
  padding-left: 40px;
}
.icon-header.-pencil{
  background-image: image_url('icons/pencil.png');
}
.icon-header.-mark{
  background-image: image_url('icons/ic_711.png');
}
.icon-header.-black-bell{
  background-image: image_url('icons/icon-header/ic_black_bell.png');
}

@media screen and (max-width: 768px) {
  .icon-header{
    font-size: 14px;
    padding-left: 25px;
  }
  .icon-header.-black-bell{
    background-image: image_url('icons/icon-header/ic_black_bell_mobile.png');
  }
}