.input-block{
  border: $form-border;
  border-radius: 4px;
  background-color: $form-background-color;
  margin: 0 auto;
  text-align: left;
  padding: 20px 30px;
  font-size: 16px;
  >.group{
    > label{
      width: 80px;
      color: #262626;
    }
    > input, select{
      margin: 15px 5px;
      width: 248px;
      height: 34px;
      border-radius: 2px;
      border: $form-input-border;
      padding-left: 10px;
    }
    > select{
      width: 100px;
    }
    > .text{
      text-align: right;
      width: 308px;
    }
    > .regular-btn{
      width: 120px;
      height: 30px;
      line-height: 18px;
      margin-left: 30px;
      vertical-align: initial;
    }
  }
}

.-store, .-info{
  min-height: 130px;
  padding: 10px 20px;
  > .group {
    margin: 10px 0;
    > input, select{
      margin: 5px;
    }
    > .btn{
      margin-top: 10px;
    }
    > .title{
      margin-right: 30px;
    }
  }
  > .divider{
    border: solid 1px #b5b5b5;
    margin: 25px auto;
  }
}

@media screen and (max-width: 768px) {
  .input-block{
    font-size: 12px;
    padding: 10px;
    >.group{
      > div{
        margin-bottom: 5px;
      }
      > label{
        text-align: center;
        width: 23%;
      }
      > input{
        width: 60%;
      }
      > input, select{
        margin: 5px;
        height: 25px;
        padding-left: 10px;
      }
      > select{
        width: 80px;
      }
      > .text{
        width: 95%;
      }
      > .regular-btn{
        width: 100px;
        height: 30px;
      }
    }
  }
  .-store{
    min-height: 50px;
  }
  .-info{
    min-height: 80px;
  }
  .-store, .-info {
    min-height: auto;
    padding: 10px;
    > .group {
      margin: 5px 0;
      > .title {
        margin-right: 15px;
      }
    }
  }
}