.login-modal{
  > .modal-dialog{
    > .modal-content{
      > .divider{
        border: solid 1px #4a4a4a;

      }
      > .modal-header{
        height: 56px;
        border-radius: 4px;
        background-color: #ff8080;
        text-align: center;
        color: #fff;
        font-size: 20px;
      }
      > .modal-body{

      }
      > .modal-footer{

      }
    }
  }
}