.order-box{
  >.name{
    font-size: $product-block-name-font-size;
    border-bottom: $pink-dash-border;
    padding: 15px 0;
    margin-bottom: 15px;
    font-weight: bolder;
  }
  > form{
    .header{
      padding: 0 ;
      border-top: transparent;
      height: 35px;
      line-height: 35px;
      margin-bottom: 25px;
    }
    .dollar{
      color: #ff2843;
      display: inline-block;
      margin-bottom: 25px;
    }
    .price{
      border-top: transparent;
      color: $price-font-color;
      font-size: $order-box-price-font-size;
      display: inline-block;
      margin-bottom: 25px;
    }
    .spec-select{
      height: 35px;
      margin-bottom: 25px;
    }
    .quantity-box{
      .quantity, .quantity-minus, .quantity-plus{
        height: 35px;
        width: 30px;
        margin-bottom: 25px;
        position: relative;
      }
      .quantity{
        left: -4px;
      }
      .quantity-plus{
        left: -8px;
      }
    }

    .info{
      position: relative;
      top: 8px;
      margin-bottom: 30px;
    }
    .add-cart{
      > .add{
        width: 370px;
        height: 50px;
        border-radius: 4px;
        background-color: $order-box-add-btn;
        border: transparent;
        font-size: $order-box-add-font-size;
        color: $order-box-add-font-color;
        margin-bottom: 5px;
        float: right;
      }
      > .customer{
        font-size: $order-box-customer-font-size;
        float: right;
        > a{
          color: $order-box-customer-font-color;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .order-box {
    padding-left: 10px;
    padding-right: 10px;
    > .name {
      margin-bottom: 10px;
      font-size: $mobile-product-block-name-font-size;
    }
    form{
      .header{
        height: 30px;
      }
      .add-cart{
        .add{
          width: 100%;
        }
      }
    }
  }
}