.pop-list{
  vertical-align: middle;
  height: 76px;
  margin-bottom: 20px;
  >.image{
    display: inline-block;
    position: relative;
    width: 76px;
    height: 76px;
    overflow: hidden;
    border-radius: 5px;
    > img{
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        z-index: 0;
        height: 76px;
    }
    .special-price-tag{
      background-image: image-url("icons/ic_special_price_popular.png");
      position: absolute;
      width: 25px;
      height: 38px;
      top: 0px;
      left: 45px;
      z-index: 100;
    }
  }
  .group{
    display: inline-block;
    vertical-align: top;
    width: 55%;
    > .list{
      font-size: $pop-list-font-size;
      height: 40px;
    }
    > .special{
      font-size: 12px;
      color: #4a4a4a;
      height: 18px;
      line-height: 18px;
    }
    > .-delete{
      text-decoration: line-through;
    }
    > .price{
      font-size: $pop-list-price-size;
      color: $price-font-color;
    }
  }
}
.pop-list:hover{
  background-color: $side-bar-hover-background-color;
}
