.product-block{
  border: $regular-border;
  border-radius: $regular-border-radius;
  padding: 0 10px;
  >.image{
    overflow: hidden;
    height: 180px;
  }
  >.text{
    border-bottom: $regular-dash-border;
    padding: 10px 0;
    min-height: 80px;
  }
  >.price{
    color: $price-font-color;
    padding: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .product-block {
    > .image {
      overflow: hidden;
      max-height: 100px;
    }
    >.text{
      min-height: 100px;
    }
  }
}
