.product-list{
  border: $regular-border;
  border-radius: $regular-border-radius;
  height: 250px;
  > a:hover{
    text-decoration: none;
  }
  > a{
    >.image{
      overflow: hidden;
      height: 170px;
    }
    > .divider{
      border-bottom: $regular-dash-border;
    }
    >.text{
      padding: 10px 0;
      margin: 0 10px;
      color: $regular-font-color;
      display: inline-block;
      width: 50%;
    }
    >.price{
      color: $price-font-color;
      padding: 10px 0;
      font-size: $price-font-size;
      margin: 0 10px;
      display: inline-block;
      vertical-align: top;
      float: right;
      > .special{
        font-size: 12px;
        color: #4a4a4a;
      }
      > .-delete{
        text-decoration: line-through;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .product-list {
    height: 170px;
    > a {
      > .image {
        overflow: hidden;
        height: 100px;
      }
      > .text {
        height: 50px;
        padding: 8px 0;
        margin: 0 5px;
        margin-left: 0px;
        width: 65%;
      }
      > .price{
        height: 60px;
        font-size: 10px;
        text-align: right;
        float: right;
        margin: 0;
        margin-right: 5px;
        > .special{
          font-size: 8px;
        }
      }
    }
  }
}
