.product-block{
  border: solid 1px black;
  border-radius: 5px;
  padding: 0 10px;
  >.image{
    overflow: hidden;
  }
  >.text{
    text-align: center;
    border-bottom: dashed 2px black;
    padding: 10px 0;
  }
  >.price{
    color: #ff2843;
    padding: 10px 0;
  }
}