.product-list{
  border: $regular-border;
  border-radius: $regular-border-radius;
  > a:hover{
    text-decoration: none;
  }
  > a{
    >.image{
      overflow: hidden;
      height: 170px;
    }
    >.text{
      border-bottom: $regular-dash-border;
      padding: 10px 0;
      margin: 0 10px;
      color: $regular-font-color;
    }
    >.price{
      color: $price-font-color;
      padding: 10px 0;
      font-size: $price-font-size;
      margin: 0 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .product-list {
    > a {
      > .image {
        overflow: hidden;
        height: 100px;
      }
      > .text {
        height: 50px;
        padding: 8px 0;
        margin: 0 5px;
      }
    }
  }
}
