.star-header{
  font-size: $breadcrumb-font-size;
  font-weight: bolder;
  color: $normal-text-color;
  background-image: $url-star-l;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 30px;
  border-bottom: $pink-dash-border;
  padding: 15px 36px;
  margin-bottom: 17px;
}
@media screen and (max-width: 768px) {
  .star-header {
    background-image: $url-star-s;
    font-size: $mobile-breadcrumb-font-size;
    padding-left: 23px;
  }
}