.step-bar{
  > .step{
    width: 40px;
    height: 40px;
    border: $step-bar-border;
    display: inline-block;
    border-radius: 50%;
    > .text{
      width: 130px;
      font-size: 20px;
      font-weight: bolder;
      color: #000000;
      padding-top: 10px;
      position: relative;
      left: -45px;
      text-align: center;
    }
    > .done{
      text-align: center;
      background-color: $step-bar-color;
      line-height: 32px;
      border-radius: 50%;
      border: solid #fffef0 2px;
      color: $web-background-color;
      font-size: 27px;
    }
    > .undone{
      text-align: center;
      background-color:$web-background-color;
      line-height: 32px;
      border-radius: 50%;
      border: solid #fffef0 2px;
      color: $step-bar-color;
      font-size: 27px;
    }
  }
  > .bar{
    margin-right: -7px;
    margin-left: -7px;
    display: inline-block;
    height: 8px;
    border-radius: 6px;
    border: $step-bar-border;
    width: 190px;
    position: relative;
    z-index: -1;
    top: -44px;
  }
  > .-full{
    background-color: $step-bar-color;
  }
}

@media screen and (max-width: 768px) {
  .step-bar{
    > .step{
      width: 23px;
      height: 23px;
      border: $mobile-step-bar-border;
      > .done, .undone{
        font-size: 14px;
        line-height: 17px;
      }
      > .text{
        width: 85px;
        font-size: 12px;
        left: -35px;
      }
    }
    > .bar{
      width: 33%;
      top: -28px;
      height: 4px;
      border: $mobile-step-bar-border;
    }
  }

}