.row
  .col-md-12.panel-warning
    .content-box-header.panel-heading
      .panel-title 分類列表
    .content-box-large.box-with-header
      .content.row
        - @categories.each do |category|
          .col-sm-6.col-md-4
            .list-group
              = link_to admin_category_path(category) do
                = image_tag(category.image_url)
                %h3= category.name
                %br