.content-box-large.box-with-header
  .header-btn
    - if current_admin.manager?
      .pull-right
        =link_to '新增', new_admin_category_path, class: 'btn btn-default'
    %h2 母分類列表
    %p.help-block
    = render_pagination(@categories)
    %p.help-block
    = render "table", categories: @categories
    = render_pagination(@categories)