- content_for :head do
  %link{href: "android-app://com.kosbrother.mongmongwoo/https/www.mmwooo.com#{category_path(@category)}", rel: "alternate"}

-if @category.parent_id
  - breadcrumb :child_category, @category
-else
  - breadcrumb :category, @category
.show
  = render "partials/product_list", category: @category, items: @items
  .text-align
    = pagination_links(@items)
