.search-user
  = form_tag search_admin_users_path, { class: "form-inline", method: :get } do
    .form-group
      = search_field_tag 'user_search_term[ship_phone]', '', class: "form-control", placeholder: "輸入手機號碼"
    .form-group
      = search_field_tag 'user_search_term[user_name]', '', class: "form-control", placeholder: "輸入使用者名稱"
    = button_tag "搜尋使用者", class: "btn btn-info"