.row
  .col-md-12.panel-warning
    .content-box-header.panel-heading
      .panel-title 用戶列表
    .content-box-large.box-with-header
      .apple_pagination
        = will_paginate @user_page, :container => false
      %br/
      = render "user_table"
      .apple_pagination
        = will_paginate @user_page, :container => false
      %br/