.col-md-2
  .logo
    %h1
      =link_to '管理者後台', admin_root_path
.col-md-2
  .user
    .user-name Hi #{current_manager.username}
    = link_to '登出' ,admin_signout_path, class: 'sign-out', method: :delete
.col-md-2.col-md-offset-6
  .cart
    = link_to checkout_admin_admin_carts_path do
      %span.glyphicon.glyphicon-shopping-cart 購物車
