.col-md-10
  .content-box-large
    .breadcrumb-topbar
      %ol.breadcrumb
        %li
          = link_to "萌萌屋", admin_root_path
        %li
          = link_to "使用者列表", admin_users_path
        %li.active 新增個人訊息
    .panel-heading
      .panel-title
        %h3 新增個人訊息
    .panel-body
      = render "form", user: @user