!!!
%html{:lang => "zh-Hant-TW"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    :css
      .red {
        color: red;
      }
      .blue {
        color: blue;
      }
      .right {
        text-align: right;
      }
      td,th.left{
        text-align: left;
      }
      th{ 
        padding: 3px;
      }
      .user-name-highlit {
        padding: .2em;
        color: rgba(233, 30, 99, 0.72);
      }
      tr.title {
        background-color: antiquewhite;
      }
      tr.content {
        background-color: rgba(47, 176, 39, 0.05);
      }
      .block {
        display: block;
        margin: 10px 0;
      }
      .line-button {
        color: darkgreen;
        border: 1px solid;
        padding: 8px;
        border-radius: 20px;
        text-decoration: none;
      }
      .fbfan-button {
        text-decoration: none;
        color: royalblue;
        border: 1px solid;
        padding: 8px;
        border-radius: 20px;
      }
      .seven-days {
        color: red;
      }
      .order-id {
        color: darkviolet;
      }
  %body
    = yield